@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #FFFFFF;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
    animation: fadeIn 1s ease-in-out;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-img {
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    animation: slideIn 1s ease-in-out;
}

h1 {
    color: #e63946;
    margin-top: 15px;
    animation: fadeInUp 1s ease-in-out;
}

h2 {
    color: #d62839;
    margin-top: 20px;
    animation: fadeInUp 1s ease-in-out;
}

p {
    margin: 10px 0;
    animation: fadeInUp 1s ease-in-out;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform : translateY(0);
    }
}